name: lint and test

on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3

  pytest:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      CUDA_VISIBLE_DEVICES: ""
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --dev
      - run: uv run pytest -sxv --log-cli-level 5 tests/test_util.py tests/test_diff_detector.py
      - run: uv run pytest -sxv --log-cli-level 5 tests/test_plate_detector.py
      - run: uv run pytest -sxv --log-cli-level 5 tests/test_ocr_detector.py
